<!DOCTYPE html>
<html>
<%- include('partials/head.ejs') %>
<body>
    
    <main>
        <h1>The Solar System</h1>
        <%- include('partials/nav.ejs') %>
        <h2><%= planetName %> </h2>

        <div id="desc">
            <%= planetInfo.description %> 
        </div>
        
        <br><br>

        <div id="container">

            <div id="info">
                <strong>Distance from the Sun: </strong> <%= planetInfo.distanceFromSun %>
                <br><br>
                <strong>Year Length: </strong> <%= planetInfo.yearLength %>
                <br><br>
                <strong>Radius: </strong> <%= planetInfo.radius %> miles
                <br><br>
                <strong>Day Cycle: </strong> <%= planetInfo.oneEarthDay %>
                <br><br>
                <strong>Moons: </strong> <%= planetInfo.moons %>
                <br><br>
            </div>

            <img id="planetImg" src="<%= planetInfo.image %>">

        </div>
    </main>

    <br><br>

    <%- include('partials/footer.ejs') %>

    <!-- the edited node files for the image urls dont work with render -->
    <script>
        if (req.query.planetName == "Mars") {
            document.querySelector("#planetImg").src = "https://upload.wikimedia.org/wikipedia/commons/thumb/0/0c/Mars_-_August_30_2021_-_Flickr_-_Kevin_M._Gill.png/960px-Mars_-_August_30_2021_-_Flickr_-_Kevin_M._Gill.png";
        }
        if (req.query.planetName == "Jupiter") {
            document.querySelector("#planetImg").src = "https://upload.wikimedia.org/wikipedia/commons/e/e2/Jupiter_OPAL_2024.png";
        }
        if (req.query.planetName == "Uranus") {
            document.querySelector("#planetImg").src = "https://upload.wikimedia.org/wikipedia/commons/6/69/Uranus_Voyager2_color_calibrated.png";
        }
        if (req.query.planetName == "Pluto") {
            document.querySelector("#planetImg").src = "https://upload.wikimedia.org/wikipedia/commons/thumb/e/ef/Pluto_in_True_Color_-_High-Res.jpg/960px-Pluto_in_True_Color_-_High-Res.jpg";
        }
    </script>
</body>
</html>
